---
---

@import "{{ site.theme }}";

header { 
  justify-content: space-between;
  align-items: center;
  display: flex;
  #link-logo {
    display: inline-block;
    width: 30rem;
    border: none;
    background-color: transparent;
  }
  color: #fff; text-align: center; 
  background-color: #0d0a0b; 
  background-color: #44b09e; 
  background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
  padding: 2rem 4rem !important;
  
};
nav {
   ul{
      margin: 0;
      display: flex;
      justify-content: end;
      list-style-type: none;
      li{
        margin-right: 1rem;
        a{
          text-decoration: none;
          border: solid transparent 4px; //a pair wiwth hover border
          color: white;
          font-size: x-large;
          font-weight: bold;
          border-radius: 1rem;
          padding: 0.5rem 0.5rem;
        }
        a:hover{
          text-decoration: none;
          border: solid white 4px;
        }
      }
    }
  }
@media screen and (min-width: 64em) { header { padding: 3rem 4rem; } }
@media screen and (max-width: 1089px) { header { justify-content: center; flex-wrap: wrap !important; gap:0.5rem;} }

.team_card_list{
  padding:0;
  display: flex;
  list-style-type:none;
  flex-wrap:wrap;

  li{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid green 3px;
    width: 16rem;
    padding: 1rem;
    margin: 0.5rem !important;
    img{
      height:10rem;
    }
  }
  li:hover {
    transform: scale(1.05,1.05);
  }
}