---
---

@import "{{ site.theme }}";

nav {
   ul{
      margin: 0;
      display: flex;
      justify-content: end;
      
      list-style-type: none;
      li{
        margin-right: 1rem;
        a{
          text-decoration: none;
          border: solid 5px transparent;
          color: white;
          font-size: x-large;
          font-weight: bold;
          border-radius: 1rem;
          padding: 0.5rem 0.5rem;
        }
        a:hover{
          text-decoration: none;
          border: solid white 5px;
        }
      }
    }
  }