---
---

@import "{{ site.theme }}";

nav {
   ul{
      margin: 0;
      display: flex;
      justify-content: end;
      
      list-style-type: none;
      li{
        margin-right: 2rem;
        a{
          text-decoration: none;
          color: white;
          font-size: x-large;
          font-weight: bold;
        }
        a:hover{
          text-decoration: underline;
          border: solid white;
        }
      }
    }
  }